<h2>Checkbox</h2>
<section
  [dfSelection]="items"
  [dfSelections]="selections"
  [dfSelectionTrackBy]="trackByFn"
  dfSelectionType="multiClick"
  [dfSelectionDeselectable]="true"
  (selectionsChange)="onSelectionChange($event)"
>
  <mat-checkbox [dfSelectionAllCheckbox]>All</mat-checkbox><br>

  <ng-container *ngFor="let item of items">
    <mat-checkbox [dfSelectionCheckbox]="item">
      {{ item.name }}
    </mat-checkbox>
    <br />
  </ng-container>
</section>

<h3>Selected</h3>
<ul>
  <li *ngFor="let sel of selections">{{ sel.name }}</li>
</ul>
